@import 'tailwindcss';
@import './vars.scss';
@import './globals.scss';

*,
*::after,
*::before,
html {
	box-sizing: border-box;
}

body,
#root {
	height: 100%;
}

body {
	font-weight: 400;
	font-size: var(--font-size-base);
	color: var(--main-font-color);
	background-color: var(--bg-color);
	line-height: 1.6;
	font-family: var(--font-family-main);
}

section {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

a {
	text-decoration: none;
	transition: color 0.3s ease;
}

input {
	font-family: inherit;
	outline: none;
}

button {
	font-family: inherit;
	white-space: nowrap;
	cursor: pointer;
	border: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	width: 100%;
}
